{% extends "base.html" %}
{% block content %}
    <h1>Pytest</h1>
    <p>
        A testing framework based on Python. Mainly used for API test cases. Can also be used for databases and UI.
        Can go from unit testing to functional testing.
    </p>

    <h1>Flask</h1>
    <p>
        Flask is a web framework for Python. It is based on the Werkzeug toolkit.
        This is how you create web pages for you site. You can test your flask application through pytest.
        You can mainly sync this with your GitHub and use GitHub actions to test your code.
    </p>

{% endblock %}