{% extends "base.html" %}
{% block content %}
<h1>Containers</h1>
<p>
    Standard unit of software that packages up code and all its dependencies so
    the application runs quickly and reliably from one computing environment to another.
    Numerous ones run on the same infrastructure. They share operating systems. Each application runs in isolation.
    There are three types of containers; standard, lightweight and secure.
    Standard containers is the industry standard ones that Docker created.
    Lightweight ones share the OS system kernel thus not requiring an OS per application.
    The secure containers are where applications are safer as Docker provides the strongest
    default isolation capabilities.
</p>

<h1>Images</h1>
<p>
    A template with instructions for creating containers. Can be considered a starting point when using Docker.
    Is compared to a snapshot in virtual machines. They contain the application code, libraries, tools, dependencies
    and other files needed to make an application run. It is stored in Docker Hub or repos.
</p>

<h1>Commands</h1>
<p>
    There are a few commands that you need to know.
    docker -version which tells you the current version of docker you have installed.
    docker pull / push, used to push or pull images from docker repo.
    docker run is used to create a container from an image.
    docker ps is used to see what containers are running. 
    Adding a -a to the end of it will let you also see existing containers.
    docker exec is how you access a running container.
    docker stop is how you shut it down.
    docker kill ends it immediately.
    docker commit is used to create a new image of an edited container on local.
    docker login is how you log in into your hub repo.
    docker images is how you can see all locally stored images.
    docker rm is how you delete a stopped container.
    Add an i next to rm and switch the container id to an image one, and you end up doing the same for your image.
    docker build is how you build an image from that file.
</p>
<p> By using the proper commands you can do all this using the terminal. </p>
{% endblock %}